.border-ffffff {
	border-color: #ffffff
}

.border-cccccc {
	border-color: #cccccc
}

.border-999999 {
	border-color: #999999
}

.border-666666 {
	border-color: #666666
}

.border-333333 {
	border-color: #333333
}

.border-000000 {
	border-color: #000000
}

.border-ffcc00 {
	border-color: #ffcc00
}

.border-ff9900 {
	border-color: #ff9900
}

.border-ff6600 {
	border-color: #ff6600
}

.border-ff3300 {
	border-color: #ff3300
}

.border-99cc00 {
	border-color: #99cc00
}

.border-cc9900 {
	border-color: #cc9900
}

.border-ffcc33 {
	border-color: #ffcc33
}

.border-ffcc66 {
	border-color: #ffcc66
}

.border-ff9966 {
	border-color: #ff9966
}

.border-ff6633 {
	border-color: #ff6633
}

.border-cc3300 {
	border-color: #cc3300
}

.border-cc0033 {
	border-color: #cc0033
}

.border-ccff00 {
	border-color: #ccff00
}

.border-ccff33 {
	border-color: #ccff33
}

.border-333300 {
	border-color: #333300
}

.border-666600 {
	border-color: #666600
}

.border-999900 {
	border-color: #999900
}

.border-cccc00 {
	border-color: #cccc00
}

.border-ffff00 {
	border-color: #ffff00
}

.border-cc9933 {
	border-color: #cc9933
}

.border-cc6633 {
	border-color: #cc6633
}

.border-330000 {
	border-color: #330000
}

.border-660000 {
	border-color: #660000
}

.border-990000 {
	border-color: #990000
}

.border-cc0000 {
	border-color: #cc0000
}

.border-ff0000 {
	border-color: #ff0000
}

.border-ff3366 {
	border-color: #ff3366
}

.border-ff0033 {
	border-color: #ff0033
}

.border-99ff00 {
	border-color: #99ff00
}

.border-ccff66 {
	border-color: #ccff66
}

.border-99cc33 {
	border-color: #99cc33
}

.border-666633 {
	border-color: #666633
}

.border-999933 {
	border-color: #999933
}

.border-cccc33 {
	border-color: #cccc33
}

.border-ffff33 {
	border-color: #ffff33
}

.border-996600 {
	border-color: #996600
}

.border-993300 {
	border-color: #993300
}

.border-663333 {
	border-color: #663333
}

.border-993333 {
	border-color: #993333
}

.border-cc3333 {
	border-color: #cc3333
}

.border-ff3333 {
	border-color: #ff3333
}

.border-cc3366 {
	border-color: #cc3366
}

.border-ff6699 {
	border-color: #ff6699
}

.border-ff0066 {
	border-color: #ff0066
}

.border-66ff00 {
	border-color: #66ff00
}

.border-99ff66 {
	border-color: #99ff66
}

.border-66cc33 {
	border-color: #66cc33
}

.border-669900 {
	border-color: #669900
}

.border-999966 {
	border-color: #999966
}

.border-cccc66 {
	border-color: #cccc66
}

.border-ffff66 {
	border-color: #ffff66
}

.border-996633 {
	border-color: #996633
}

.border-663300 {
	border-color: #663300
}

.border-996666 {
	border-color: #996666
}

.border-cc6666 {
	border-color: #cc6666
}

.border-ff6666 {
	border-color: #ff6666
}

.border-990033 {
	border-color: #990033
}

.border-cc3399 {
	border-color: #cc3399
}

.border-ff66cc {
	border-color: #ff66cc
}

.border-ff0099 {
	border-color: #ff0099
}

.border-33ff00 {
	border-color: #33ff00
}

.border-66ff33 {
	border-color: #66ff33
}

.border-339900 {
	border-color: #339900
}

.border-66cc00 {
	border-color: #66cc00
}

.border-99ff33 {
	border-color: #99ff33
}

.border-cccc99 {
	border-color: #cccc99
}

.border-ffff99 {
	border-color: #ffff99
}

.border-cc9966 {
	border-color: #cc9966
}

.border-cc6600 {
	border-color: #cc6600
}

.border-cc9999 {
	border-color: #cc9999
}

.border-ff9999 {
	border-color: #ff9999
}

.border-ff3399 {
	border-color: #ff3399
}

.border-cc0066 {
	border-color: #cc0066
}

.border-990066 {
	border-color: #990066
}

.border-ff33cc {
	border-color: #ff33cc
}

.border-ff00cc {
	border-color: #ff00cc
}

.border-00cc00 {
	border-color: #00cc00
}

.border-33cc00 {
	border-color: #33cc00
}

.border-336600 {
	border-color: #336600
}

.border-669933 {
	border-color: #669933
}

.border-99cc66 {
	border-color: #99cc66
}

.border-ccff99 {
	border-color: #ccff99
}

.border-ffffcc {
	border-color: #ffffcc
}

.border-ffcc99 {
	border-color: #ffcc99
}

.border-ff9933 {
	border-color: #ff9933
}

.border-ffcccc {
	border-color: #ffcccc
}

.border-ff99cc {
	border-color: #ff99cc
}

.border-cc6699 {
	border-color: #cc6699
}

.border-993366 {
	border-color: #993366
}

.border-660033 {
	border-color: #660033
}

.border-cc0099 {
	border-color: #cc0099
}

.border-330033 {
	border-color: #330033
}

.border-33cc33 {
	border-color: #33cc33
}

.border-66cc66 {
	border-color: #66cc66
}

.border-00ff00 {
	border-color: #00ff00
}

.border-33ff33 {
	border-color: #33ff33
}

.border-66ff66 {
	border-color: #66ff66
}

.border-99ff99 {
	border-color: #99ff99
}

.border-ccffcc {
	border-color: #ccffcc
}

.border-cc99cc {
	border-color: #cc99cc
}

.border-996699 {
	border-color: #996699
}

.border-993399 {
	border-color: #993399
}

.border-990099 {
	border-color: #990099
}

.border-663366 {
	border-color: #663366
}

.border-660066 {
	border-color: #660066
}

.border-006000 {
	border-color: #006000
}

.border-336633 {
	border-color: #336633
}

.border-009900 {
	border-color: #009900
}

.border-339933 {
	border-color: #339933
}

.border-669966 {
	border-color: #669966
}

.border-99cc99 {
	border-color: #99cc99
}

.border-ffccff {
	border-color: #ffccff
}

.border-ff99ff {
	border-color: #ff99ff
}

.border-ff66ff {
	border-color: #ff66ff
}

.border-ff33ff {
	border-color: #ff33ff
}

.border-ff00ff {
	border-color: #ff00ff
}

.border-cc66cc {
	border-color: #cc66cc
}

.border-cc33cc {
	border-color: #cc33cc
}

.border-003300 {
	border-color: #003300
}

.border-00cc33 {
	border-color: #00cc33
}

.border-006633 {
	border-color: #006633
}

.border-339966 {
	border-color: #339966
}

.border-66cc99 {
	border-color: #66cc99
}

.border-99ffcc {
	border-color: #99ffcc
}

.border-ccffff {
	border-color: #ccffff
}

.border-3399ff {
	border-color: #3399ff
}

.border-99ccff {
	border-color: #99ccff
}

.border-ccccff {
	border-color: #ccccff
}

.border-cc99ff {
	border-color: #cc99ff
}

.border-9966cc {
	border-color: #9966cc
}

.border-663399 {
	border-color: #663399
}

.border-330066 {
	border-color: #330066
}

.border-9900cc {
	border-color: #9900cc
}

.border-cc00cc {
	border-color: #cc00cc
}

.border-00ff33 {
	border-color: #00ff33
}

.border-33ff66 {
	border-color: #33ff66
}

.border-009933 {
	border-color: #009933
}

.border-00cc66 {
	border-color: #00cc66
}

.border-33ff99 {
	border-color: #33ff99
}

.border-99ffff {
	border-color: #99ffff
}

.border-99cccc {
	border-color: #99cccc
}

.border-0066cc {
	border-color: #0066cc
}

.border-6699cc {
	border-color: #6699cc
}

.border-9999ff {
	border-color: #9999ff
}

.border-9999cc {
	border-color: #9999cc
}

.border-9933ff {
	border-color: #9933ff
}

.border-6600cc {
	border-color: #6600cc
}

.border-660099 {
	border-color: #660099
}

.border-cc33ff {
	border-color: #cc33ff
}

.border-cc00ff {
	border-color: #cc00ff
}

.border-00ff66 {
	border-color: #00ff66
}

.border-66ff99 {
	border-color: #66ff99
}

.border-33cc66 {
	border-color: #33cc66
}

.border-009966 {
	border-color: #009966
}

.border-66ffff {
	border-color: #66ffff
}

.border-66cccc {
	border-color: #66cccc
}

.border-669999 {
	border-color: #669999
}

.border-003366 {
	border-color: #003366
}

.border-336699 {
	border-color: #336699
}

.border-6666ff {
	border-color: #6666ff
}

.border-6666cc {
	border-color: #6666cc
}

.border-666699 {
	border-color: #666699
}

.border-330099 {
	border-color: #330099
}

.border-9933cc {
	border-color: #9933cc
}

.border-cc66ff {
	border-color: #cc66ff
}

.border-9900ff {
	border-color: #9900ff
}

.border-00ff99 {
	border-color: #00ff99
}

.border-66ffcc {
	border-color: #66ffcc
}

.border-33cc99 {
	border-color: #33cc99
}

.border-33ffff {
	border-color: #33ffff
}

.border-33cccc {
	border-color: #33cccc
}

.border-339999 {
	border-color: #339999
}

.border-336666 {
	border-color: #336666
}

.border-006699 {
	border-color: #006699
}

.border-003399 {
	border-color: #003399
}

.border-3333ff {
	border-color: #3333ff
}

.border-3333cc {
	border-color: #3333cc
}

.border-333399 {
	border-color: #333399
}

.border-333366 {
	border-color: #333366
}

.border-6633cc {
	border-color: #6633cc
}

.border-9966ff {
	border-color: #9966ff
}

.border-6600ff {
	border-color: #6600ff
}

.border-00ffcc {
	border-color: #00ffcc
}

.border-33ffcc {
	border-color: #33ffcc
}

.border-00ffff {
	border-color: #00ffff
}

.border-00cccc {
	border-color: #00cccc
}

.border-009999 {
	border-color: #009999
}

.border-006666 {
	border-color: #006666
}

.border-003333 {
	border-color: #003333
}

.border-3399cc {
	border-color: #3399cc
}

.border-3366cc {
	border-color: #3366cc
}

.border-0000ff {
	border-color: #0000ff
}

.border-0000cc {
	border-color: #0000cc
}

.border-000099 {
	border-color: #000099
}

.border-000066 {
	border-color: #000066
}

.border-000033 {
	border-color: #000033
}

.border-6633ff {
	border-color: #6633ff
}

.border-3300ff {
	border-color: #3300ff
}

.border-00cc99 {
	border-color: #00cc99
}

.border-0099cc {
	border-color: #0099cc
}

.border-33ccff {
	border-color: #33ccff
}

.border-66ccff {
	border-color: #66ccff
}

.border-6699ff {
	border-color: #6699ff
}

.border-3366ff {
	border-color: #3366ff
}

.border-0033cc {
	border-color: #0033cc
}

.border-3300cc {
	border-color: #3300cc
}

.border-00ccff {
	border-color: #00ccff
}

.border-0099ff {
	border-color: #0099ff
}

.border-0066ff {
	border-color: #0066ff
}

.border-0033ff {
	border-color: #0033ff
}

